BINANCE_API_KEY=
BINANCE_SECRET_KEY=
BINANCE_BASE_URL=https://fapi.binance.com
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
GROQ_API_KEY=
BINANCE_TESTNET=true
NEXT_PUBLIC_TESTNET=true
